.bordaPricipal{
    
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    height: 1500px;
    margin-top: 100px;
    padding-top: 30px;
    border-radius: 20px;
    background-color: white;
}
body{
 background-color: #EAEBEF ;

}
.tituloPrincipal{
   display: inline-block;
   margin-left: 20px;
   
   
}

.tituloDireito{
    display: inline;
    text-align: right;
    margin-left: 550px;
      
}

img{
    display: inline-block;
    width: 60px;
    margin-top: 0px;
    position: absolute;
    margin-left: 40px;
    padding-top: 0%;
    
}

.ladoImagem{
    display: inline-block;
    margin-left: 120px;
  
    
}

.horanotificacao{
   margin-left: 120px;
    
}

div{
    margin-top: 50px;
    height: 90px;
    padding-top: 25px;
    height: 100px;
    width: 900px;
    margin-left: 20px;
    border-radius: 25px;
    
}


.hello{
 padding: 20px;
 border: 1px solid gray;
 text-align: center justify;
 width: 500px;
 margin-left: 120px;
 margin-top: 20px;
}

.ladoEsquerdo{
    position: absolute;
    margin-left: 800px;
    display: inline-block;
    
}

.thanks{
    height: 200px;
}


#teste{
    cursor: pointer;
}

.cinza{

    background-color: rgb(243, 236, 236);

}

.branco{

    background-color: white;
}


.red{
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    width: 10px;
    height:10px;

}

*{
    margin: 0%;
    padding: 0%;
    
}

